@import 'highlight.js/styles/github-dark.css';

.prose {
  @apply max-w-full text-sm text-black;
  --tw-prose-bullets: black;
  --tw-prose-counters: black;
  --tw-prose-quote-borders: var(--color-primary);
}

.prose hr {
  @apply my-[1.5em];
}

.prose a {
  color: var(--color-primary);
}

.prose li p {
  @apply my-0;
}

.prose ol ol {
  list-style-type: lower-alpha;
}

.prose ol ol ol {
  list-style-type: lower-roman;
}

.prose ol ol ol ol {
  list-style-type: decimal;
}

.prose ol ol ol ol ol {
  list-style-type: lower-alpha;
}

.prose ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

.prose ol ol ol ol ol ol ol {
  list-style-type: decimal;
}

.prose ul ul {
  list-style-type: circle;
}

.prose ul ul ul {
  list-style-type: square;
}

.prose table {
  @apply w-full table-fixed border-collapse overflow-hidden text-sm;
}

.prose table th {
  @apply bg-gray-100;
}

.prose table th,
.prose table td {
  @apply relative border border-gray-400 p-1.5 align-top;
}

.prose table tr:not(:has(th)) {
  @apply hover:bg-gray-100;
}

.prose table tr:not(:has(th)):nth-child(2n of tr:not(:has(th))) {
  @apply bg-primary/5 hover:bg-primary/10;
}

.prose table th > *,
.prose table td > * {
  @apply mb-0;
}

.prose .tableWrapper {
  @apply scrollbar-thin overflow-x-auto;
}

.prose .resize-cursor {
  @apply cursor-col-resize;
}

.prose [data-type='emoji'] img {
  @apply my-0 inline-block size-5.5 align-text-bottom;
}

.prose blockquote {
  @apply font-normal text-black not-italic;
}

.prose blockquote > *::before,
.prose blockquote > *::after {
  @apply content-none;
}

.prose .column-resize-handle {
  @apply bg-primary pointer-events-none absolute -inset-e-0.5 top-0 bottom-0 z-20 w-1;
}
